<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      @import url("/css/main.css");
    </style>
  </head>

  <body>
    <main>
      <%- include('../partials/header') %>
      <div class="nav">
        <% if (courses.length > 0) { %>
        <div class="navlinks">
          <% courses.forEach(course=> { %> <% let courseName = `${course.code} ,
          ${course.name}` %>
          <a href="courses/<%= course.name %>"><%= courseName %></a>
          <% }) %>
        </div>
        <% } else { %>
        <h3>No courses created yet!</h3>
        <% } %>
      </div>
    </main>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
