<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      @import url("/css/main.css");
      @import url("/css/students.css");
    </style>
  </head>

  <body>
    <main>
      <header class="title">
        <h1><%= title %></h1>
      </header>
      <% if (messages.error) { %>
      <div class="alert alert-danger top-right-alert">
        <%= messages.error %>
      </div>
      <% } %>
      <div class="nav">
        <form
          action="/hod-login"
          method="post"
          id="loginForm"
        >
          <h2>HOD Login</h2>
          <div class="formcheck">
            <label for="name"> Name: </label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="HOD Name"
            />
          </div>
          <div class="formcheck">
            <label for="password"> Password: </label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="HOD Password"
            />
          </div>
          <button id="submitButton" type="submit">SIGN IN</button>
        </form>
      </div>
    </main>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
