<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('/css/main.css');
  </style>
</head>

<body>
  <main>
    <h1 class="title">
      <%= title %>
    </h1>
    <div class="nav">
      <div class="navlinks">
        <% for (let _module of modules) { %>
            <a href="<%= currentUrl %>/<%= _module.name %>">
              <%= _module.name %>
            </a>
        <% } %>
      </div>
      <br>
    </div>
  </main>
</body>
</html>

</html>